<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847249809330-sia28lousqrl4kg4e0tou9i9tsfcrqm6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847249809330-sia28lousqrl4kg4e0tou9i9tsfcrqm6</string>
	<key>API_KEY</key>
	<string>AIzaSyAqZuDhTexUcG4J9ln2--4MNu7EpCKLTi0</string>
	<key>GCM_SENDER_ID</key>
	<string>847249809330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.matchmuster.mobile</string>
	<key>PROJECT_ID</key>
	<string>matchmuster</string>
	<key>STORAGE_BUCKET</key>
	<string>matchmuster.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847249809330:ios:f01d9569914def9aedceab</string>
</dict>
</plist>